// Place all the styles related to the parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.marginleft100 {
  margin-left: 100px;
}

.marginleft20 {
  margin-left: 20px;
}

.marginleft10 {
  margin-left: 10px;
}

.margintop70 {
  margin-top: 70px;
}

.select_box {
  width: 130px;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

#add_params {
  position: absolute;
  left: 800px;
  top: 230px;
}

.prompt_message_box {
  width: 1140px;
  height: 60px;
}

.width200 {
  width: 200px;
}

.hiden {
  display: none;
}